body{
    display: flex;
    justify-content: center;
}
#main{
    background-color: rgb(255, 200, 0);
    border-radius: 3em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#title{
    text-align: center;
    font-size: 2.5em;
    margin: .5em;
}
#clock{
    margin: .5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em
}
#image{
    margin: .5em;
    background: linear-gradient(180deg , rgb(100, 200, 255),rgb(255, 100, 0) , rgb(255, 200, 100));
    padding: .5em;
    border-radius: 100%;
}