body{
    background-color: rgb(68, 155, 255, .5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header{
    color: white;
}
section{
    background-color: white;
    border-radius: .5em;
    padding: 1.2em;
    width: 500px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
}
footer{
    color: white;
    font-style: italic;
}